.header{
	background-color:black;
	color:white;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
}

.section1{
	margin :10px;
	padding:30px;
	line-height:35px;
}

.top-space{
	padding-top:10px;
}

.footer{
	background-color:black;
	color:white;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
	margin-bottom:10px;
}
fieldset {
    display: block;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 3em;
    padding-right: 3em;
    border: 5px groove (internal value);
	line-height: 35px;
} 